@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
@import url('./variables.css');
@import url("./header.css");

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}
.wrapper1200 {
  width: 1200px;
  margin: 0 auto;
}
.wrapper1400 {
  width: 1400px;
  margin: 0 auto;
}
